<nav class="main-nav">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <!-- <li><a href="now.html" {% if page.url == "now.html" %}class="active"{% endif %}>Now</a></li> -->
        <!-- <li><a href="blog.html" {% if page.url == "blog.html" %}class="active"{% endif %}>Blog</a></li> -->
        <li><a href="mailto:jim@jimkosem.com">Email</a></li>
        <li><a href="https://www.linkedin.com/in/jkosem/" target="_blank">CV</a></li>
    </ul>
</nav>
