---
# Only the main Sass file needs front matter (the dashes are enough)
---

// color palette here https://coolors.co/be6e46-cde7b0-395c6b-80a4ed-a3bfa8
// Brown Sugar #BE6E46
// Tea Green #CDE7B0
// Deep Space Sparkle #395C6B
// Little Boy Blue #80A4ED
// Cambridge Blue #A3BFA8

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700;900&display=swap');

@import url("type.css");

$backgroundColor: #F5FAF0;
$bodyColor: #395C6B;
$font-body: 'Source Sans Pro', sans-serif;
$font-display: 'Roboto Slab', serif;

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        // background-color: #23334E;
    }
    .content {
        // width:600px;
        // min-height: 100vh;
        margin: auto;
        padding-bottom: 23px;
        margin-left: 200px;
        margin-right: 200px;
        // max-width: 560px;
    }
}


html {
    position:relative;
    min-height:100%;
}
html, .root {
    font-size: 20px;
    line-height: 33px;
}
body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $font-body;
    font-size: 1em;
    line-height: 1.65em;
}

h1, h2, h3 {
    font-family: $font-display;
    font-weight: 900;
}
h2, h3 {
    font-family: $font-display;
    font-weight: 700;
}

.container {
    background-color: #fff;
    overflow:hidden;
    margin: 0 auto;
    height:100%;
}
.content {
    // margin: auto;
    // padding-bottom: 23px;
    // margin-left: 200px;
    // margin-right: 200px;
    // max-width: 560px;
    height: 100%;
}
.subfooter {
    background-color: #F5FAF0;
    padding-top: 31px;
    bottom: 0;
    clear: both;
    margin-top: auto;
    width:100%;
    bottom:0px;
}
.footer {
    background-color: #CDE7B0;
    padding-top: 31px;
    bottom: 0;
    clear: both;
    margin-top: auto;
    width:100%;
    bottom:0px;
}

img {
  width: 100%;
  height: auto;
  // margin-bottom: 1.65em;
}

nav.main-nav {
    margin-top: 31px;
}
nav.main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    // float: right;
}
nav.main-nav li,
nav.main-nav a {
    display: inline-block;
}
nav.main-nav li a {
    padding: 10px;
}
a {
    font-weight: 600;
    color: #BE6E46;
    text-decoration: none;
}
a.active {
    font-weight: 600;
}
.footnotes {
    margin-top: 50px;
    color: #395C6B;
}

.footer {
    color: #395C6B;
}

.bloglist ul {
}
.bloglist li {
    text-decoration: none;
    list-style: none;
    padding-bottom: 31px;
}
