---
# Only the main Sass file needs front matter (the dashes are enough)
---

// color palette here https://coolors.co/be6e46-cde7b0-395c6b-80a4ed-a3bfa8
// Brown Sugar #BE6E46
// Tea Green #CDE7B0
// Deep Space Sparkle #395C6B
// Little Boy Blue #80A4ED
// Cambridge Blue #A3BFA8

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700;900&display=swap');

@import url("type.css");

$backgroundColor: #F5FAF0;
$bodyColor: #395C6B;
$font-body: 'Source Sans Pro', sans-serif;
$font-display: 'Roboto Slab', serif;

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        // background-color: #23334E;
    }
    .content {
        // width:600px;
        // min-height: 100vh;
        margin: auto;
        padding-bottom: 23px;
        margin-left: 200px;
        margin-right: 200px;
        // max-width: 560px;
    }
}


html {
    position:relative;
    min-height:100%;
}
html, .root {
    font-size: 20px;
    line-height: 33px;
}
body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $font-body;
    font-size: 1em;
    line-height: 1.65em;
}

h1, h2, h3 {
    font-family: $font-display;
    font-weight: 900;
}
h2, h3 {
    font-family: $font-display;
    font-weight: 700;
}

.container {
    background-color: #fff;
    overflow:hidden;
    margin: 0 auto;
    height:100%;
}
.content {
    // margin: auto;
    // padding-bottom: 23px;
    // margin-left: 200px;
    // margin-right: 200px;
    // max-width: 560px;
    height: 100%;
}
.subfooter {
    // background-color: #F5FAF0;
    padding-top: 31px;
    bottom: 0;
    clear: both;
    margin-top: auto;
    width:100%;
    bottom:0px;
}
.footer {
    // background-color: #CDE7B0;
    background-image: url("../images/pattern1.png");
    padding-top: 31px;
    bottom: 0;
    clear: both;
    margin-top: auto;
    width:100%;
    bottom:0px;
}

img {
  width: 100%;
  height: auto;
  // margin-bottom: 1.65em;
}

nav.main-nav {
    margin-top: 31px;
}
nav.main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    // float: right;
}
nav.main-nav li,
nav.main-nav a {
    display: inline-block;
}
nav.main-nav li a {
    padding: 10px;
}
a {
    font-weight: 600;
    color: #BE6E46;
    text-decoration: none;
}
a.active {
    font-weight: 600;
}
.footnotes {
    margin-top: 50px;
    color: #395C6B;
}

.footer {
    color: #395C6B;
}

<<<<<<< HEAD
.bloglist ul {
}
.bloglist li {
    text-decoration: none;
    list-style: none;
    padding-bottom: 31px;
=======



html, .root {
    font-size: 18px;
    line-height: 31px;
}
h1, .h1 {
    font-size: 83px;
    font-weight: 700;
    color: #ccc;
    line-height: 93px;
    margin-top: 31px;
    margin-bottom: 62px;
}
h2, .h2 {
    font-size: 50px;
    line-height: 62px;
    margin-top: 31px;
    margin-bottom: 31px;
}
h3, .h3 {
    font-size: 30px;
    line-height: 31px;
    margin-top: 31px;
    margin-bottom: 31px;
}
h4, .h4 {
    font-size: 18px;
    line-height: 31px;
    margin-top: 31px;
    margin-bottom: 0px;
}
h5, .h5 {
    font-size: 18px;
    line-height: 31px;
    margin-top: 31px;
    margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote  {
    margin-top: 0px;
    margin-bottom: 31px;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
    text-decoration: none;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
>>>>>>> parent of 2f59630... semi working blog with update section on index
}
