---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

$backgroundColor: #fff;
$bodyColor: #000;

$font-body: 'Source Sans Pro', sans-serif;

nav.main-nav {
    margin-top: 31px;
}
nav.main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    // float: right;
}
nav.main-nav li,
nav.main-nav a {
    display: inline-block;
}
nav.main-nav li a {
    padding: 10px;
}

a.active {
    // color: #FFE000;
    font-weight: 700;
}

footnotes {
  /* a single footnote link */
  margin-top: 50px;
}


body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $font-body;
}

body, .article {
    font-size: 18px;
    line-height: 31px;
    max-width: 560px;
    margin: auto;
}

.bloglist ul {

}

.bloglist li {
    text-decoration: none;
    list-style: none;
    padding-bottom: 31px;
}


html, .root {
    font-size: 18px;
    line-height: 31px;
}
h1, .h1 {
    font-size: 83px;
    font-weight: 700;
    color: #ccc;
    line-height: 93px;
    margin-top: 31px;
    margin-bottom: 62px;
}
h2, .h2 {
    font-size: 50px;
    line-height: 62px;
    margin-top: 31px;
    margin-bottom: 31px;
}
h3, .h3 {
    font-size: 30px;
    line-height: 31px;
    margin-top: 31px;
    margin-bottom: 31px;
}
h4, .h4 {
    font-size: 18px;
    line-height: 31px;
    margin-top: 31px;
    margin-bottom: 0px;
}
h5, .h5 {
    font-size: 18px;
    line-height: 31px;
    margin-top: 31px;
    margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote  {
    margin-top: 0px;
    margin-bottom: 31px;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
    text-decoration: none;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
