<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" type="images/png" href="favicon-16x16.png">
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li><a href="index.html" {% if page.url == "index.html" %}class="active"{% endif %}>Home</a></li>
            <li><a href="now.html" {% if page.url == "now.html" %}class="active"{% endif %}>Now</a></li>
            <li><a href="mailto:jim@jimkosem.com">Email</a></li>
        </ul>
    </nav>
    {{ content}}
</body>
</html>
