<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ root_url }}/../assets/css/main.css">
    <link rel="shortcut icon" type="images/png" href="favicon-16x16.png">
</head>
<body>

    <div class="container">
        <div class="content">

            {% include header.html %}

            {% if page.title%}
            <h1>{{page.title}}</h1>
            {% else %}
            <h1>Untitled post</h1>
            {% endif %}
            {{ page.date | date: "%d %b %Y" }}
            <p>&nbsp;</p>
            {{ content }}
            <p>&nbsp;</p>

        </div>

        {% include footer.html %}

    </div>

</body>
</html>
